---
import type { HTMLAttributes } from 'astro/types'
import { cn } from '@/lib/style'
import { LOGO_PATH_D } from '@/lib/og/og-logo-svg'

interface Props extends Pick<HTMLAttributes<'span'>, 'class'> {
	showText?: boolean
}

const { class: className, showText = true } = Astro.props as Props
---

<span class={cn('inline-flex items-center gap-2', className)}>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 64 64"
		fill="currentColor"
		aria-hidden="true"
		class="h-6 w-auto flex-none"
	>
		<path d={LOGO_PATH_D} fill-rule="evenodd"></path>
	</svg>
	{showText && <span class="logo-label">Cognitive Shift Project</span>}
</span>
