---
const { src, alt, caption } = Astro.props
---

<figure class="my-8 flex flex-col items-center">
	<div
		class="overflow-hidden rounded-md border border-P-border w-full shadow-sm bg-P-card"
	>
		<img src={src} alt={alt} class="m-0 h-auto w-full object-cover align-middle block" loading="lazy" />
	</div>
	{
		caption && (
			<figcaption class="mt-3 text-sm text-P-subtle text-center italic">{caption}</figcaption>
		)
	}
</figure>
